*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, "popins";
}



body {
   background-color: rgb(0, 0, 0);
}



.box{
    width:90%;
    max-width: 480px;
    background-color: rgb(112, 220, 184);
    padding:25px;
    border-radius: 10px;
    margin: 100px auto;
    text-align: center;
}

input{
    padding: 15px;
    border-radius: 10px;
    border: none;
    flex: 1;
}

.box button{
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
    height: 35px;
    width: 35px;

}

.box button img{
    width: 10px;
    height: 10px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin: -10px 0;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin-top: 30px;
}

.col{
    display: flex;
    align-items: center;
    text-align: center;
}
.col img{
    width: 50px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 30px;
    font-weight: 500;

}